:root {
    --primary-color-1: #000;
    --primary-color-2: #14213D;
    --secondary-color-1: #FCA311;
    --secondary-color-2: #E5E5E5;
    --secondary-color-3: #FFFFFF;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    background-color: var(--primary-color-2);
}

#navbar-container {
    display: flex;
    flex-flow: row;
    width: 100%;
}

#logo {
    display: inline;
    height: 50px;
    vertical-align: middle;
}

#navbar {
    display: flex;
    background-color: var(--primary-color-1);
    width: 100%;
    overflow: visible;
    font-size: 18px;
    padding-left: 30px;
}

#navbar li {
    display: inline;
}

#navbar li a {
    display: block;
    color: var(--secondary-color-3);
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px 15px;
    vertical-align: middle;
}

#navbar li a:hover {
    background-color: var(--secondary-color-3);
    color: var(--primary-color-1);
    transition: 0.5s;
}

header {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

header img {
    margin-top: -300px;
    width: 100%;
}

section {
    padding-top: 50px;
}

p {
    padding: 25px 200px;
    background-color: var(--primary-color-2);
    color: var(--secondary-color-3);
    font-size: 1.1em;
}

#footer-popup {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

#footer-popup p {
    background-color: var(--secondary-color-1);
}


h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

h2 {
    color: ivory;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.center {
    float: center;
    background-color: gainsboro;
    font-size: larger;
    padding: 10px;
}

.left {
    float: left;
    width: 50%;
    background-color: gainsboro;
    font-size: larger;
    padding: 10px;
}

.right {
    float: right;
    width: 50%;
    padding:10px;
}

.buffer {
    opacity: 0;
    padding-top: 10px;
}


.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:dodgerblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color:lightskyblue;
}

.button:active {
    background-color:deepskyblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Mobile Display*/
@media only screen and (max-width: 800px){
    body {
        margin: auto;
    }

    li a {
        display:block;
        color: mintcream;
        text-align: center;
        padding:1%;
        text-decoration:none;
        font-family: Arial, Helvetica, sans-serif;
    }

    li b {
        display:block;
        color: mintcream;
        text-align: center;
        padding:1%;
        text-decoration:none;
        font-family: Arial, Helvetica, sans-serif;
    }
}
