:root {
    --primary-color-1: #000;
    --primary-color-2: #14213D;
    --secondary-color-1: #FCA311;
    --secondary-color-2: #E5E5E5;
    --secondary-color-3: #FFFFFF;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    background-color: var(--primary-color-2);
}

a {
  color: var(--secondary-color-1);
}

#navbar-container {
    display: flex;
    flex-flow: row;
    width: 100%;
}

#logo {
    display: inline;
    height: 50px;
    vertical-align: middle;
}

#navbar {
    display: flex;
    background-color: var(--primary-color-1);
    width: 100%;
    overflow: visible;
    font-size: 18px;
    padding-left: 30px;
}

#navbar li {
    display: inline;
}

#navbar li a {
    display: block;
    color: var(--secondary-color-3);
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px 15px;
    vertical-align: middle;
}

#navbar li a:hover {
    background-color: var(--secondary-color-3);
    color: var(--primary-color-1);
    transition: 0.5s;
}

header {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

header img {
    margin-top: -300px;
    width: 100%;
}

section {
    padding: 50px 100px 100px 100px;
}

#content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#main-content {
    flex: 1 0;
    min-width: 300px;
    margin-bottom: 50px;
}

#ccwc {
    width: 300px;
    padding-left: 50px;
    padding-bottom: 30px;
}

#ccwc p {
    padding-left: 0;
}

#ccwc img {
    width: 300px;
    padding-bottom: 20px;
}

section h1 {
    color: var(--secondary-color-3);
}

p {
    background-color: var(--primary-color-2);
    color: var(--secondary-color-3);
    font-size: 1.1em;
}

#footer-popup {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

#footer-popup p {
    background-color: var(--secondary-color-1);
    padding: 20px;
}

h1 {
    font-size: 4em;
    padding-bottom: 15px;
}

.button {
  padding: 10px;
  font-weight: bold;
  background-color: var(--secondary-color-1);
  border: none;
  color: var(--primary-color-2);
  display: inline-block;
}

.button:hover {
    background-color: var(--primary-color-1);
    color: var(--secondary-color-1);
}

/*Mobile Display*/
@media only screen and (max-width: 800px){
    body {
        margin: auto;
    }

    li a {
        display:block;
        color: mintcream;
        text-align: center;
        padding:1%;
        text-decoration:none;
        font-family: Arial, Helvetica, sans-serif;
    }

    li b {
        display:block;
        color: mintcream;
        text-align: center;
        padding:1%;
        text-decoration:none;
        font-family: Arial, Helvetica, sans-serif;
    }
}
